* {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    background-color: gainsboro;
}

header {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    margin-top: 20px;
    padding: 5px;
    background-color: grey;
}

h1 {
    background-color: grey;
}

footer {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    margin-top: 20px;
    padding: 5px;
    background-color: grey;
}

#p {
    background-color: grey;
}